:root {
    –-main-azure: #00ffff;
    –-main-pink-first: #d20094;
    –-main-pink-second: #900080;
}

* {
    box-sizing: border-box;
}

/*general*/

/*body*/

body {
    background-image: url(../assets/bg.jpg);
    background-size: cover;
    color: white;
}

.title-font {
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 60px;
}

.text-font {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
      "slnt" 0;
    font-size: 16px;
}

/*header*/

header {
    padding: 50px 100px;
}

.logo {
    width: 250px;
}


/*main*/

.main-title {
    text-align: center;
    margin: auto;
}

.results-cake {
    border: solid 50px #00ffff;
    border-radius: 50%;
}

.results-text {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
      "slnt" 0;
    font-size: 16px;
}

.btn {
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-size: 30px;
    border: solid 5px white;
    width: fit-content;
    padding: 25px 50px;
    margin: auto;
}