* {
    box-sizing: border-box;
}

/*general*/

/*body*/

body {
    background-image: url(../assets/bg.jpg);
    background-size: cover;
    color: white;
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    scroll-behavior: smooth;
}

.title-font {
    font-size: 60px;
    margin: 10px 0;
}

.inter-font {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
      "slnt" 0;
    font-size: 16px;
}

/*header*/

header {
    padding: 30px 100px;
}

.logo {
    width: 200px;
}


/*main*/

.main-title {
    text-align: center;
    margin: auto;
}

.subtitle {
    font-size: 24px;
}

.flex-content {
    display: flex;
    margin: 50px;
    align-items: center;
    justify-content: center;
}

.flex-auto {
    flex: auto;
    text-align: center;
}

.correct-answers {
    text-align: left;
    padding-left: 100px;
}

.wrong-answers {
    text-align: right;
    padding-right: 100px;
}

.results-cake {
    --w:150px;
    display: flex;
    width:var(--w);
    aspect-ratio:1;
    position:relative;
    padding: 50px;
    aspect-ratio: 1 / 1;
    letter-spacing: 1px;
    align-items: center;
    justify-content: center;
    line-height: 18px;
}

.results-cake:before {
    --p:100;
    --b:40px;
    --c:#00ffff;
    content: "";
    position: absolute;
    border-radius: 50%;
    inset: 0;
    background: conic-gradient(var(--c) calc(var(--p)*1%),#0000 0);
    -webkit-mask:radial-gradient(farthest-side,#0000 calc(99% - var(--b)),#000 calc(100% - var(--b)));
            mask:radial-gradient(farthest-side,#0000 calc(99% - var(--b)),#000 calc(100% - var(--b)));
}

.results-cake:after {
    --p:34;
    --b:40px;
    --c:#ff00bf;
    content: "";
    position: absolute;
    border-radius: 50%;
    inset:0;
    background: conic-gradient(var(--c) calc(var(--p)*1%),#0000 0);
    -webkit-mask:radial-gradient(farthest-side,#0000 calc(99% - var(--b)),#000 calc(100% - var(--b)));
            mask:radial-gradient(farthest-side,#0000 calc(99% - var(--b)),#000 calc(100% - var(--b)));
}


.congrats {
    font-size: 16px;
}

.color-azure {
    color: #00ffff;
}

.results-text {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
      "slnt" 0;
    font-size: 16px;
}

.certificate-notice {
    display: inline-block;
    margin: 10px 0;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
      "slnt" 0;
      font-size: 14px;
}

.btn {
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 30px;
    border: solid 5px white;
    width: fit-content;
    padding: 25px 75px;
    margin: auto;
}

.bold {
    font-weight: 700;
}