.container{
    background-image: url(../assets/bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: inherit;
    color: white;
}
.header{
 display: flex;



}
.logo{
    padding-top: 50px;
    padding-left: 90px;
   padding-bottom: 20px;
   
}
.timer{
    width: 70%;
    display: inline-block;
    text-align: right;
    padding-top: 40px;

}
.dynamic-container{
    text-align: center;
}

.h2-domanda{

    text-align: center;
    padding-top: 100px;
    padding-bottom: 60px;
    font-size: 45px;

}

.risposta-uno{

    display: inline-block;
    padding-top: 30px;
    padding-right: 30px;
    padding-bottom: 30px;

}

.risposta-due{
  
   display: inline-block;
    padding-top: 30px;
    padding-left: 30px;
    padding-bottom: 30px;

}
.risposte-sotto{
    display: block;
    
}
.risposta-tre{
    display: inline-block;
    padding-top: 30px;
    padding-right: 30px;
    padding-bottom: 40px;
}

.risposta-quattro{
    display: inline-block;
    padding-top: 30px;
    padding-left: 30px;
    padding-bottom: 40px;
}

.numero-pagina{

   padding-top: 100px;
padding-bottom: 170px;

}

.bottone{
    background-color: #2b2853;
    opacity: 0.4;
    border-radius: 40px;
    width: 300px;
    height: 70px;
    color: white;
    font-weight: bold;
    font-size: 18px;
}